/* body { */
/*   background-color: #111; */
/* } */

#countries {
  fill: blue;
}

.point {
  fill: steelblue;
  fill-opacity: .8;
  /* stroke: #fff; */
  stroke: steelblue;
}

.country {
  fill: #CCC;
  stroke: #FFF;
}
