body {
  background: url("/img/space-tile.jpg") repeat;
}

#countries {
  fill: blue;
}

#water {
  fill: #3399FF;
}

.point {
  fill: steelblue;
  fill-opacity: .8;
  stroke: steelblue;
}

.country {
  fill: #CCC;
  stroke: #FFF;
}
